@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.70); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  /* background-position: center; */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.ibb.co/FsNwRbH/Rectangle-1.png'); */
}

#root {
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.ibb.co/FsNwRbH/Rectangle-1.png'); */
}

#main-layout {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://i.ibb.co/FsNwRbH/Rectangle-1.png');
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.70);
}

#user-layout {
  width: 100%;
  min-height: 100%;
  background: white;
  color: black;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 98px;
  line-height: 1.1;
  margin: 0;
}

/* button {
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F9A51A;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}